In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import numpy as np

In [2]:
df = pd.read_csv("Downloads/CarPrice_Assignment.csv")

In [3]:
df.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [4]:
scale_cols = ['wheelbase','carlength','carwidth','carheight','curbweight','enginesize','boreratio','stroke','compressionratio','horsepower','peakrpm','citympg','highwaympg','price']
for col in scale_cols:
    df[col]=np.log(df[col])

In [5]:
l=[]
for i in df['CarName']:
    l.append(i.split(" " )[0])
print(l)

['alfa-romero', 'alfa-romero', 'alfa-romero', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'bmw', 'bmw', 'bmw', 'bmw', 'bmw', 'bmw', 'bmw', 'bmw', 'chevrolet', 'chevrolet', 'chevrolet', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'honda', 'honda', 'honda', 'honda', 'honda', 'honda', 'honda', 'honda', 'honda', 'honda', 'honda', 'honda', 'honda', 'isuzu', 'isuzu', 'isuzu', 'isuzu', 'jaguar', 'jaguar', 'jaguar', 'maxda', 'maxda', 'mazda', 'mazda', 'mazda', 'mazda', 'mazda', 'mazda', 'mazda', 'mazda', 'mazda', 'mazda', 'mazda', 'mazda', 'mazda', 'mazda', 'mazda', 'buick', 'buick', 'buick', 'buick', 'buick', 'buick', 'buick', 'buick', 'mercury', 'mitsubishi', 'mitsubishi', 'mitsubishi', 'mitsubishi', 'mitsubishi', 'mitsubishi', 'mitsubishi', 'mitsubishi', 'mitsubishi', 'mitsubishi', 'mitsubishi', 'mitsubishi', 'mitsubishi', 'Nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'peugeot', 'peugeot', 'peugeot', 'peugeot', 'peugeot', 'peugeot', 'peugeot', 'peugeot', 'peugeot', 'peugeot', 'peugeot', 'plymouth', 'plymouth', 'plymouth', 'plymouth', 'plymouth', 'plymouth', 'plymouth', 'porsche', 'porcshce', 'porsche', 'porsche', 'porsche', 'renault', 'renault', 'saab', 'saab', 'saab', 'saab', 'saab', 'saab', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyouta', 'vokswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'vw', 'vw', 'volkswagen', 'volkswagen', 'volkswagen', 'volvo', 'volvo', 'volvo', 'volvo', 'volvo', 'volvo', 'volvo', 'volvo', 'volvo', 'volvo', 'volvo']

In [6]:
s = pd.Series(l)
s

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Length: 205, dtype: object

In [7]:
df['CompanyName'] = s

In [8]:
df.replace("Nissan",'nissan',inplace = True)

In [9]:
df.replace("vokswagen",'volkswagen',inplace = True)

In [10]:
df.replace("porcshce",'porsche',inplace = True)

In [11]:
df.replace("toyouta",'toyota',inplace = True)

In [12]:
df.replace("vw",'volkswagen',inplace = True)

In [13]:
x = df.drop(['price','CarName','car_ID'],axis=1)
y = df['price']

In [17]:
x = pd.get_dummies(x)

In [18]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=3)

In [19]:
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)
diff=pd.DataFrame({"Actual":y_test,"Predicted":y_pred})
print(diff.to_string())

print("MSE",metrics.mean_squared_error(y_test,y_pred))
print('R2Score',metrics.r2_score(y_test,y_pred))

        Actual  Predicted
189   9.358329   9.243449
183   8.984067   9.056250
118   8.625509   8.683886
165   9.137555   9.105877
160   8.953899   8.910304
70   10.360912  10.375018
173   9.099185   9.180656
154   8.974365   8.702641
25    8.808668   8.845473
71   10.439513  10.802041
77    8.730529   8.699989
146   8.917713   9.081681
121   8.808668   8.686287
102   9.574914   9.694089
47   10.381273  10.478695
188   9.209840   9.145375
156   8.844769   8.881557
38    9.115480   9.062198
162   9.133243   8.928700
141   8.871505   8.998670
202   9.975110   9.717789
103   9.510371   9.594452
34    8.871926   8.920452
3     9.543235   9.304784
61    9.268137   9.232649
115   9.718964   9.509779
14   10.109078  10.113109
46    9.310005   9.445107
12    9.950848   9.954871
101   9.510371   9.636143
51    8.715224   8.583341
6     9.781885   9.805634
125   9.999616   9.679617
73   10.620351  10.900780
58    9.657907   9.551919
182   8.958669   9.031126
40    9.239414   8.947929
72   10.464702  10.856534
4     9.767095   9.593980
130   9.137232   9.173340
122   8.937087   8.873940
MSE 0.026143209288042375
R2Score 0.9132634559857695